body {
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 60px;
}

::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4c006a;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track {
    background-color: #17009c5c;
  }
  
.navbar {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  bottom: 0;
}

.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #212529;
    color: #ffffff;
}

.dark-mode .navbar .nav-link {
    color: #ffffff;
}

.dark-mode .footer {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .footer a {
    color: #ffffff;
}

.dark-mode .navbar-toggler-icon {
    filter: invert(1);
}

#home-img{
    width: 300px;
}

#logo{
    width: 30px;
}
.form-switch {
    margin-left: auto; /* Alinha a checkbox "Dark Mode" à direita */
  }
  
  .navbar-nav {
    margin: 0 auto; /* Centraliza os elementos da navbar */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  .nav-item {
    margin: 0 10px; /* Adiciona espaçamento entre os itens da navbar */
  }
  
  .row{
    margin: 100px;
  }
  body.dark-mode #logo {
    /* Adicione estilos específicos para o modo escuro aqui */
    filter: invert(1); /* Exemplo: inverte as cores para simular um modo escuro */
  }

  /* test */
  #categoria {
    margin-top: 60px;
    margin-bottom: 60px;
    text-decoration: none;
  }
  #icones {
    width: 140px;
  }
  .main-container {
    max-width: 120rem;
    margin: auto;
    width: 90%;
  }
  .sec-pad {
    padding: 4rem 0;
  }
  .projects__row:last-child {
    margin-bottom: 0;
  }
  .projects__row-img-cont {
    overflow: hidden;
  }
  .projects__row-img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: 800px;
    padding: 50px;
  }
  .projects__row-content {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .projects__row-content-desc {
    font-size: 1.4rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
  }
  .projects__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects__row-content-title {
    font-weight: bolder;
  }
  @media (max-width: 940px) {
    .projects__row {
      flex-direction: column;
    }
    .projects__row-img-cont {
      margin-right: 0;
    }
    .projects__row-img {
      padding: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    #about {
      text-align: left; /* Altera a alinhamento do texto para esquerda */
      margin-bottom: 0; /* Remove a margem inferior */
    }
    /* Define a classe das colunas para ocuparem 6/12 de largura, ou seja, 2 em cima e 2 em baixo */
    .col-lg {
      flex: 0 0 50%; /* 2 colunas por linha */
      max-width: 50%; /* 2 colunas por linha */
      padding: 0 15px; /* Espaçamento entre as colunas */
      margin-bottom: 20px; /* Espaçamento entre as linhas */
    }
  
    /* Para evitar que as imagens fiquem muito grandes em telas menores, você pode ajustar o tamanho delas */
    #icones {
      width: 70px; /* Tamanho menor para as imagens */
    }
  
    /* Para manter o texto alinhado ao centro das imagens */
    .col-lg h2 {
      text-align: center;
    }
  }
  .comic-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .comic-button:hover {
    background-color: rgb(172, 110, 230);
    color: rgb(255, 255, 255);
    border: 2px solid #000000;
    box-shadow: 5px 5px 0px #000000;
    transform: scale(1.1);
  }
  .comic-button:active {
    background-color: #000000;
    box-shadow: none;
    transform: translateY(4px);
  }